<div class="container">
	<div class="row">
		<h1>Guitars</h1>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
		<table class="table">
			<thead>
				<th>Guitar</th>
				<th>Category</th>
				<th>Address</th>
				<th>City</th>
				<th>State</th>
				<th>Zip</th>
				<th>Description</th>
			</thead>
			<tbody>
				<% @mapevents.each do |mapevent| %>
					<tr>
						<td><%= mapevent.title %></td>
						<td><%= mapevent.category %></td>
						<td><%= mapevent.address %></td>
						<td><%= mapevent.city %></td>
						<td><%= mapevent.state %></td>
						<td><%= mapevent.zip %></td>
						<td><%= mapevent.description %></td>
						<td><%= link_to 'Edit', edit_mapevent_path(mapevent) %> | <%= link_to "X", mapevent, method: :delete %></td>
					</tr>
					<% end %>
				</tbody>
		</table>
		</div>
	</div>
</div>