<!DOCTYPE html>
<html>
<head>
  <title>Eventmap - Get a list of your events daily</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['google_key']}" %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Navigation Bar -->

<div id="no-gutters" class="container-fluid">
  <nav id="no-gutters" class="navbar navbar-static-top navbar-inverse">
  	<div class="navbar-inner">
  		<div class="container-fluid vcenter">
  				<div class="col-xs-3 col-sm-2 col-md-2">
  					<h1><%= link_to "EventMap", mapevents_path, 'data-no-turbolink' => true %></h1>
  				</div>
          <div class="col-xs-5 col-sm-3 col-md-5 col-lg-5 pull-right" >

            <!-- If current user, show sign in info -->

            <% if current_user %>
                <div class="pull-right">

                <!-- User sign in name displayed here -->

                Signed in as: <strong><%= current_user.username %></strong>

                <!-- Link to Events button here -->

                <%= link_to "My Events", users_path, class: "btn btn-default push-left", 'data-no-turbolink' => true %>

                <!-- Logout button here -->
                
                <%= link_to "Logout", logout_path, class: "btn btn-default", 'data-no-turbolink' => true %>
                </div>

             <!-- Else, show signup sheet --> 

              <% else %>

               <!-- Signup Sheet -->

              <%= link_to "Signup", signup_path, class: "btn btn-default push-left pull-right" %>   
                <%= form_for :user, url: '/login', html: {class: "form-inline"} do |f| %>
                    <%= f.text_field :email, placeholder: "Email", class: "form-control" %>
                    <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
                    <%= f.submit "Sign in", class: "btn btn-primary" %>
                <% end %>
            <% end %>
          </div>

          <!-- Add events and About EventMap -->

  				<div class="col-xs-10 col-sm-4 col-md-4">
  					<div class="container-fluid pull-right">
  						<button class="btn btn-success" data-toggle="modal" data-target="#addModal">Add New Event</button>
  						<button class="btn btn-info" data-toggle="modal" data-target="#aboutModal">About EventMap</button>
  					</div>
  				</div>  
  		</div>
  	</div>
  </nav>
</div>

<%= yield %>

</body>
</html>